
# we will make a model that predicts whether person will have heart disease or not

In [28]:
%%html
<img src='https://github.com/srhsoumya/real-estate/raw/master/heart.jpg'width="100%"/>

In [1]:
import pandas as pd
df=pd.read_csv("heart.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [4]:
from sklearn.model_selection import train_test_split
features=df.drop("target",axis=1)
target=df.target
xtrain,xtest,ytrain,ytest=train_test_split(features,target,random_state=100)

In [5]:
from sklearn.linear_model import LogisticRegression
model1=LogisticRegression()
model1.fit(xtrain,ytrain)
model1.score(xtrain,ytrain),model1.score(xtest,ytest)

C:\Users\soumy\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

(0.8634361233480177, 0.868421052631579)

In [6]:
from sklearn.tree import DecisionTreeClassifier
model2=DecisionTreeClassifier()
model2.fit(xtrain,ytrain)
model2.score(xtrain,ytrain),model2.score(xtest,ytest)

(1.0, 0.7894736842105263)

In [7]:
from sklearn.ensemble import RandomForestClassifier
model3=RandomForestClassifier(n_estimators=100)
model3.fit(xtrain,ytrain)
model3.score(xtrain,ytrain),model3.score(xtest,ytest)

(1.0, 0.8289473684210527)

In [8]:
from sklearn.svm import SVC
model4=SVC(gamma='scale',C=4.5,kernel='linear')
model4.fit(xtrain,ytrain)
model4.score(xtrain,ytrain),model4.score(xtest,ytest)

(0.8546255506607929, 0.8552631578947368)


Parameters
----------
C : float, optional (default=1.0)
    Regularization parameter. The strength of the regularization is
    inversely proportional to C. Must be strictly positive. The penalty
    is a squared l2 penalty.

kernel : string, optional (default='rbf')
    Specifies the kernel type to be used in the algorithm.
    It must be one of 'linear', 'poly', 'rbf', 'sigmoid', 'precomputed' or
    a callable.
    If none is given, 'rbf' will be used. If a callable is given it is
    used to pre-compute the kernel matrix from data matrices; that matrix
    should be an array of shape ``(n_samples, n_samples)``.

degree : int, optional (default=3)
    Degree of the polynomial kernel function ('poly').
    Ignored by all other kernels.

gamma : {'scale', 'auto'} or float, optional (default='scale')
    Kernel coefficient for 'rbf', 'poly' and 'sigmoid'.

    - if ``gamma='scale'`` (default) is passed then it uses
      1 / (n_features * X.var()) as value of gamma,
    - if 'auto', uses 1 / n_features.

In [9]:
from sklearn.naive_bayes import GaussianNB
model5=GaussianNB()
model5.fit(xtrain,ytrain)
model5.score(xtrain,ytrain),model5.score(xtest,ytest)

(0.8193832599118943, 0.868421052631579)

In [10]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(df)
newdf=scaler.transform(df)
newdf=pd.DataFrame(newdf,columns=df.columns)
newdf

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,0.708333,1.0,1.000000,0.481132,0.244292,1.0,0.0,0.603053,0.0,0.370968,0.0,0.00,0.333333,1.0
1,0.166667,1.0,0.666667,0.339623,0.283105,0.0,0.5,0.885496,0.0,0.564516,0.0,0.00,0.666667,1.0
2,0.250000,0.0,0.333333,0.339623,0.178082,0.0,0.0,0.770992,0.0,0.225806,1.0,0.00,0.666667,1.0
3,0.562500,1.0,0.333333,0.245283,0.251142,0.0,0.5,0.816794,0.0,0.129032,1.0,0.00,0.666667,1.0
4,0.583333,0.0,0.000000,0.245283,0.520548,0.0,0.5,0.702290,1.0,0.096774,1.0,0.00,0.666667,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0.583333,0.0,0.000000,0.433962,0.262557,0.0,0.5,0.396947,1.0,0.032258,0.5,0.00,1.000000,0.0
299,0.333333,1.0,1.000000,0.150943,0.315068,0.0,0.5,0.465649,0.0,0.193548,0.5,0.00,1.000000,0.0
300,0.812500,1.0,0.000000,0.471698,0.152968,1.0,0.5,0.534351,0.0,0.548387,0.5,0.50,1.000000,0.0
301,0.583333,1.0,0.000000,0.339623,0.011416,0.0,0.5,0.335878,1.0,0.193548,0.5,0.25,1.000000,0.0
302,0.583333,0.0,0.333333,0.339623,0.251142,0.0,0.0,0.786260,0.0,0.000000,0.5,0.25,0.666667,0.0

In [11]:
from sklearn.model_selection import train_test_split
features2=newdf.drop("target",axis=1)
target2=newdf.target
x2train,x2test,y2train,y2test=train_test_split(features2,target2)

In [12]:
from sklearn.linear_model import LogisticRegression
model12=LogisticRegression()
model12.fit(x2train,y2train)
model12.score(x2train,y2train),model12.score(x2test,y2test)

(0.8414096916299559, 0.8026315789473685)

In [13]:
from sklearn.neighbors import KNeighborsClassifier
model6=KNeighborsClassifier(n_neighbors=10)
model6.fit(x2train,y2train)
model6.score(x2train,y2train),model6.score(x2test,y2test)

(0.8414096916299559, 0.7763157894736842)

In [14]:
def predict_fold(model,xtrain,xtest,ytrain,ytest):
    model.fit(xtrain,ytrain)
    return[model.score(xtrain,ytrain),model.score(xtest,ytest)]

In [15]:
from sklearn.model_selection import StratifiedKFold
lst=[]
pst=[]
kf=StratifiedKFold(n_splits=5)
for train,test in kf.split(features,target):
    lst.append(train)
    pst.append(test)
    xtrain,xtest,ytrain,ytest=features.iloc[train],features.iloc[test],target.iloc[train],target.iloc[test]
    print("tre",predict_fold(DecisionTreeClassifier(),xtrain,xtest,ytrain,ytest),end="  ")
    print("for",predict_fold(RandomForestClassifier(n_estimators=100),xtrain,xtest,ytrain,ytest),end="  ")
    print("svc",predict_fold(SVC(gamma='scale',C=4.5,kernel='linear'),xtrain,xtest,ytrain,ytest),end="  ") 
    print("ga",predict_fold(GaussianNB(),xtrain,xtest,ytrain,ytest))

tre [1.0, 0.7540983606557377]  for [1.0, 0.819672131147541]  svc [0.8553719008264463, 0.8032786885245902]  ga [0.8305785123966942, 0.8032786885245902]
tre [1.0, 0.8524590163934426]  for [1.0, 0.8688524590163934]  svc [0.8512396694214877, 0.9016393442622951]  ga [0.8305785123966942, 0.8852459016393442]
tre [1.0, 0.7704918032786885]  for [1.0, 0.7868852459016393]  svc [0.8636363636363636, 0.7868852459016393]  ga [0.8471074380165289, 0.7868852459016393]
tre [1.0, 0.7333333333333333]  for [1.0, 0.8166666666666667]  svc [0.8518518518518519, 0.8333333333333334]  ga [0.8395061728395061, 0.8333333333333334]
tre [1.0, 0.7333333333333333]  for [1.0, 0.7333333333333333]  svc [0.8724279835390947, 0.75]  ga [0.8765432098765432, 0.7166666666666667]

In [16]:
from sklearn.model_selection import StratifiedKFold

kf=StratifiedKFold(n_splits=5)
for train,test in kf.split(features2,target2):
    xtrain,xtest,ytrain,ytest=features2.iloc[train],features2.iloc[test],target2.iloc[train],target2.iloc[test]
    print("log",predict_fold(LogisticRegression(),xtrain,xtest,ytrain,ytest),end="  ")
    
    print("knea",predict_fold(KNeighborsClassifier(n_neighbors=10),xtrain,xtest,ytrain,ytest))

log [0.8347107438016529, 0.8360655737704918]  knea [0.8347107438016529, 0.8360655737704918]
log [0.8347107438016529, 0.8688524590163934]  knea [0.859504132231405, 0.819672131147541]
log [0.8512396694214877, 0.819672131147541]  knea [0.8553719008264463, 0.8032786885245902]
log [0.8353909465020576, 0.8666666666666667]  knea [0.8559670781893004, 0.8]
log [0.8641975308641975, 0.7666666666666667]  knea [0.8559670781893004, 0.75]

In [22]:
final_model=SVC(gamma='scale',C=4.5,kernel='linear',probability=True)
final_model.fit(features.iloc[lst[1]],target.iloc[lst[1]])
final_model.score(features.iloc[lst[1]],target.iloc[lst[1]]),final_model.score(features.iloc[pst[1]],target.iloc[pst[1]])

(0.8512396694214877, 0.9016393442622951)

In [23]:

import numpy as np
from sklearn.metrics import confusion_matrix,accuracy_score
yactual=np.array(target[pst[1]])
ytar=features.iloc[pst[1]]
ypred=final_model.predict(ytar)
confusion_matrix(yactual,ypred),accuracy_score(yactual,ypred)

(array([[24,  4],
        [ 2, 31]], dtype=int64),
 0.9016393442622951)

In [24]:
final_model.predict([[57,1,0,130,131,0,1,115,1,1.2,1,1,3]])

array([0], dtype=int64)


# so our model is around 90% accurate now lets save it into an pickle file

In [25]:
import pickle
with open('heart2.pickle','wb') as file:
    pickle.dump(final_model,file)

In [21]:
#	0	1	130	236	0	0	174	0	0.0	1	1	2	0 57	1	0	130	131	0	1	115	1	1.2	1	1	3